<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SkinSwitch - AndroidManifest.xml
  ~ Copyright (C) 2014-2015  Baptiste Candellier
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
	package="fr.outadev.skinswitch"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />

		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".MojangLoginActivity"
			android:label="@string/title_activity_mojang_login"
			android:theme="@style/DialogActivity"
			android:windowSoftInputMode="adjustResize|stateVisible">
		</activity>
		<activity
			android:name=".DetailActivity"
			android:label="@string/skin_details_title"
			android:parentActivityName=".MainActivity"
			android:theme="@style/DetailTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name=".CustomSkinActivity"
			android:label="@string/title_activity_new_custom_skin"
			android:parentActivityName=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="skinswitch" />
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name=".GalleryActivity"
			android:label="@string/title_activity_skin_gallery"
			android:parentActivityName=".MainActivity"
			android:theme="@style/LibraryTheme">
			<meta-data
				android:name="android.app.default_searchable"
				android:value=".GallerySearchActivity" />
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name=".GallerySearchActivity"
			android:label="@string/gallery_search_title"
			android:parentActivityName=".GalleryActivity">
			<intent-filter>
				<action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GalleryActivity" />
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		<activity
			android:name=".settings.SettingsActivity"
			android:label="@string/settings_title"
			android:parentActivityName=".MainActivity">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<service
			android:name=".WearListenerService">
			<intent-filter>
				<action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
			</intent-filter>
		</service>
		<activity
			android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	</application>

</manifest>